.rcw-widget-container {
  max-width: 31rem !important;
}

.rcw-message-img {
  max-width: 200px !important;
}
.rcw-conversation-container {
  min-width: 500px !important;
}

.rcw-response .rcw-message-text {
  max-width: 360px !important;
}

.rcw-messages-container {
  height: 120vh !important;
  max-height: 520px !important;
}

#root {
  width: 100%;
  height: 100%;
}
